<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM App Test">
<listeners>
		<listener class-name="com.crm.extentReports.ExtentReporterNG" />
		<listener class-name="com.crm.analyzer.Transformer" />
	</listeners>
  <test  thread-count="5" name="Test">
    <classes>
      <class name="com.crm.testcases.LoginPageTest"/>
       <class name="com.crm.testcases.ContactsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
